body {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    background-color: #161616;
    margin: 0;
    padding: 0;
    border-width: 0;
    cursor: pointer;
}

aside {
    float: right;
    padding-right: 1rem;
}

#preview {
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 15vw;
    max-height: 10vh;
}

#menu {
    position: relative;
    list-style-type: none;
    padding-left: 5px;
    z-index: 1000;
    /* 1 */
    display: inline-block;
    text-align: center;
}

#menu li {
    margin: 2px;
    padding: 4px 10px;
    background-color: #282828;
    color: #dfd8d8;
}

#menu li:hover {
    background-color: #222222;
}

#forPuzzle {
    position: absolute;
    width: 100dvw;
    width: 100vw;
    height: 100dvh;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1c1c1c;
    overflow: hidden;
}



.polypiece {
    display: block;
    overflow: hidden;
    position: absolute;
}

.moving {
    transition-property: top, left;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.gameCanvas {
    display: none;
    overflow: hidden;
    position: absolute;
}